version: "3.9"

services:
  app:
    build: .
    ports:
      - "${PORT:-8080}:${PORT:-8080}" # defaults to 8080 if not set
    env_file:
      - .env                        # <-- ensures .env is loaded
    environment:
      DATABASE_URL: ${DATABASE_URL}
      PORT: ${PORT:-8080}
    working_dir: /app
    restart: no
    dns:
      - 8.8.8.8
      - 1.1.1.1
    networks:
      - default

networks:
  default:
    driver: bridge
