services:
  app:
    build: .
    ports:
      - "${PORT}:${PORT}"
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - PORT=${PORT}
    working_dir: /app
    restart: no
    dns:
      - 8.8.8.8
      - 1.1.1.1
    networks:
      - default

networks:
  default:
    driver: bridge
